<ng-template #modal let-mod>
  <div class="modal-header">
    <h5 class="modal-title">Add Recipe</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="mod.dismiss()"></button>
  </div>
  <div class="modal-body">
    <form id="add-edit-recipe" [formGroup]="form" (submit)="mod.close(form.value)">
      <div *ngIf="isEditing" class="mb-3">
        <label for="db_id" class="form-label">DB ID</label>
        <input type="number" class="form-control" id="db_id">
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <div class="input-group">
          <input type="text" class="form-control position-relative" formControlName="name" id="name"
                 required>
          <svg *ngIf="form.controls['name'].invalid && (form.controls['name'].dirty || form.controls['name'].touched)" class="svg-invalid"
               xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
          >
            <path d="M11.001 10h2v5h-2zM11 16h2v2h-2z"></path>
            <path
              d="M13.768 4.2C13.42 3.545 12.742 3.138 12 3.138s-1.42.407-1.768 1.063L2.894 18.064a1.986 1.986 0 0 0 .054 1.968A1.984 1.984 0 0 0 4.661 21h14.678c.708 0 1.349-.362 1.714-.968a1.989 1.989 0 0 0 .054-1.968L13.768 4.2zM4.661 19 12 5.137 19.344 19H4.661z"></path>
          </svg>
        </div>
      </div>
      <div class="mb-3">
        <label for="num_people" class="form-label">Number of people</label>
        <input type="number" class="form-control" formControlName="num_people" id="num_people" min="1">
      </div>

      <div class="mb-3">
        <label class="form-label">Ingredients</label>
        <button class="btn btn-success  btn-sm mx-3" (click)="addIngredient($event)">+</button>
        <div class="input-group" formArrayName="ingredients">
          <div class="mb-3" *ngFor="let ingredient of ingredients.controls; let i = index">
            <label class="form-label">Ingredient {{ i + 1 }}</label>
            <div class="input-group" [formGroupName]="i">
              <div class="form-control" formGroupName="aliment">
                <input type="hidden" formControlName="db_id" value="">
                <ng-select class="d-flex justify-content-center" formControlName="name" [items]="ingredientsList"
                           bindLabel="_name"
                           bindValue="_name"
                           [addTag]="true">
                </ng-select>
                <input type="hidden" formControlName="tags" value="">
              </div>
              <input formControlName="quantity" type="number" class="form-control" min="0">
              <ng-select class="form-control" formControlName="quantity_type" [items]="units"
                         bindLabel="_name"
                         bindValue="_name"
                         [addTag]="true">
              </ng-select>
              <button class="btn btn-danger" (click)="removeIngredient(i, $event)">-</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Steps</label>
        <button class="btn btn-success btn-sm mx-3" (click)="addStep($event)">+</button>
        <div class="input-group" formArrayName="steps">
          <div class="mb-3" *ngFor="let step of steps.controls; let i = index">
            <label class="form-label">Step {{ i + 1 }}</label>
            <div class="input-group">
              <input type="text" [formControlName]="i"  class="form-control">
              <button class="btn btn-danger" (click)="removeStep(i, $event)">-</button>
            </div>
          </div>
        </div>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category</label>
        <input type="text" class="form-control" formControlName="category" id="category">
      </div>
      <div class="mb-3">
        <label for="tags" class="form-label">Tags</label>
        <input type="text" class="form-control" formControlName="tags" id="tags">
      </div>
      <div class="mb-3">
        <label for="time" class="form-label">Time</label>
        <div class="input-group">
          <input type="number" class="form-control" id="time" formControlName="time" min="0">
          <span class="input-group-text">mins</span>
        </div>
      </div>
      <button type="submit" [disabled]="!form.valid" class="btn btn-primary">Add</button>
    </form>
  </div>
</ng-template>
