*.sqlite
*.xml
.idea/*

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

database/despensa_postgres/postgres_data/*
database/despensa_postgres/postgres_data_pro/*
despensa_postgres/*

logs/

.venv