<div class="container">
  <table class="table table-bordered table-hover table-striped table-striped table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Tags</th>
    </tr>
    </thead>
    <tbody id="food-table-body">
    <tr *ngFor="let food of foodList; let i = index">
      <td>{{ food.aliment._name }}</td>
      <td [contentEditable]="food.editable" [ngClass]="{'editable' : food.editable}" (dblclick)="editTags(i)"
          (keydown.enter)="saveData(i,$event)">{{ food.aliment._tags }}
      </td>
    </tr>
    </tbody>
  </table>

  <div>
    <button (click)="changeModalState()">Add Food</button>

    <div [ngClass]="{'modal-visible' : isModalHidden}">
      <div class="modal-content">
        <h2>Add Food</h2>
        <div *ngIf="hasErrors" class="alert alert-danger">{{ errorMessage }}</div>
        <form id="add-food-form" #addFoodForm="ngForm" (submit)="validateForm(addFoodForm.value)">
          <label for="food-name">Name:</label>
          <input type="text" id="food-name" name="name" ngModel required><br>
          <label for="food-tags">Tags:</label>
          <input type="text" id="food-tags" name="tags" [(ngModel)]="tags"><br>
          <input type="hidden" id="db_id" name="db_id" ngModel>
          <button type="submit" [disabled]="!addFoodForm.valid">Add</button>
        </form>
      </div>
    </div>
  </div>
</div>
