.container {
  min-height: 100dvh;
  position: relative;
  top: 0;
  left: 0;
  display: flex;
  align-items: start;
}

.lateral {
  overflow: auto;
  width: 15dvw;
  min-height: 100dvh;
  background-color: #f4f4f4;
  padding: 20px;
}

.lateral-menu {
  list-style: none;
  padding: 0;
}

.lateral-menu h1 {
  padding: .75rem .75rem 0.1rem;
  border-bottom: #212529 1px solid;
}

.lateral-menu li {
  padding: 1rem 0 1rem 1rem;
  border-bottom: 1px solid #ddd;
}

.lateral-menu li > ul {
  display: none;
}

.lateral-menu li:hover > ul {
  display: block;
}

.lateral-menu li:last-child {
  border-bottom: none;
}

.lateral-menu li a {
  color: #333;
  text-decoration: none;
}

.gallery {
  width: 85dvw;
  min-height: 100dvh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery div {
  margin: 10px;
  text-align: center;
}

.gallery img {
  cursor: pointer;
  width: 100px;
  height: 100px;
}
